In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv("market.csv")

In [10]:
data

     Age  Annual Income (k$)  Spending Score (1-100)
0   19.0                15.0                      39
1   21.0                15.0                      81
2   20.0                16.0                       6
3    NaN                16.0                      77
4   31.0                17.0                      40
5   22.0                17.0                      76
6   35.0                18.0                       6
7   23.0                 NaN                      94
8   64.0                19.0                       3
9   30.0                19.0                      72
10  67.0                19.0                      14
11  35.0                19.0                      99
12  58.0                 NaN                      15
13   NaN                20.0                      77
14  37.0                20.0                      13
15  22.0                 NaN                      79
16  35.0                21.0                      35
17  20.0                21.0                      66
18  52.0                23.0                      29
19   NaN                23.0                      98
20  35.0                24.0                      35
21  25.0                24.0                      73
22  46.0                25.0                       5

In [3]:
data.shape

(23, 3)

In [4]:
data.isnull().sum()

Age                       3
Annual Income (k$)        3
Spending Score (1-100)    0
dtype: int64

In [5]:
x=data.iloc[:,:-1]

In [6]:
x.head()

    Age  Annual Income (k$)
0  19.0                15.0
1  21.0                15.0
2  20.0                16.0
3   NaN                16.0
4  31.0                17.0

In [7]:
y=data.iloc[:,-1:]

In [8]:
y.head()

   Spending Score (1-100)
0                      39
1                      81
2                       6
3                      77
4                      40

In [9]:
from sklearn.model_selection import train_test_split as tts
xtrain,xtest,ytrain,ytest=tts(x,y,test_size=0.1,random_state=0)

In [15]:
from xgboost import XGBRegressor

In [16]:
model=XGBRegressor()

In [17]:
model.fit(xtrain,ytrain)

[06:36:38] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)

In [18]:
y_ped=model.predict(xtest)

In [22]:
y_ped

array([ 9.344741,  2.963328, 94.45809 ], dtype=float32)

In [23]:
xtest

     Age  Annual Income (k$)
11  35.0                19.0
10  67.0                19.0
21  25.0                24.0